{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead masthead-center">
  <div class="masthead__inner-wrap">
    <!-- 중앙 블로그 제목 -->
    <div class="masthead__title-wrap">
      {% unless logo_path == empty %}
        <a class="site-logo" href="{{ '/' | relative_url }}">
          <img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}">
        </a>
      {% endunless %}
      <h1 class="site-title">
        {{ site.masthead_title | default: site.title | escape_once | strip }}
        {% if site.subtitle %}
          <span class="site-subtitle">{{ site.subtitle | escape_once | strip }}</span>
        {% endif %}
      </h1>
    </div>

    <!-- 메뉴 버튼 중앙 -->
    <nav class="homepage-nav">
      <ul>
        {%- for link in site.data.navigation.main -%}
          <li>
            <a href="{{ link.url | relative_url }}"
               {% if link.description %} title="{{ link.description }}"{% endif %}
               {% if link.target %} target="{{ link.target }}"{% endif %}>
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</div>
